snippet lorem-sm "small lorem ipsum text"
	 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquam aliquam eros quis iaculis. 
	 
snippet lorem-md "medium lorem ipsum text"
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquam aliquam eros quis iaculis. Cras vel dapibus nibh. Donec pretium magna et massa volutpat pharetra. Morbi suscipit sed turpis sed mollis. Mauris semper ut ante eu ultrices. Donec efficitur rhoncus ipsum eget tincidunt. Integer mattis augue id dolor laoreet, feugiat porta nibh eleifend.

snippet lorem-lg "large lorem ipsum text"
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquam aliquam eros quis iaculis. Cras vel dapibus nibh. Donec pretium magna et massa volutpat pharetra. Morbi suscipit sed turpis sed mollis. Mauris semper ut ante eu ultrices. Donec efficitur rhoncus ipsum eget tincidunt. Integer mattis augue id dolor laoreet, feugiat porta nibh eleifend. Mauris condimentum nunc urna, luctus pulvinar ipsum pharetra a. Integer varius maximus magna, at scelerisque augue rhoncus vitae. Quisque sit amet interdum arcu. Etiam a justo elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
